@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');

:root {
    /* Pseudo :root is used to select the highest-level parent of a given specification. */
    --green: rgb(3, 155, 3);
    --light-color: #666;
    --box-shadow: 0 3px 8px rgb(148, 140, 140);

}
/* Our Products */
.products .product-slider{
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax( 30rem ,  1fr));
    gap: 1.5rem;
    padding: 1rem;

}
.products .product-slider .box{
    /* border: 2px solid blueviolet; */
    width: 85%;
    margin: auto;
    background: white;
    border-radius: .5rem;
    text-align: center;
    padding: 1.5rem 2rem;
    /* outline-offset: -1rem;
    outline: var(--outline); */
    box-shadow: var(--box-shadow);
    transition: .2s linear;
   
}
.products .product-slider .box .box-img{
    /* border: 2px solid yellow; */
    width: 60%;
    height: 60%;
    margin:0 auto;
}
.products .product-slider .box .box-img img{
    width: 100%;
    height: auto;
}
.products .product-slider:first-child{
   margin-bottom: 2rem;
}


 .products .product-slider .box:hover{
    box-shadow: 1px 1px 10px 4px var(--green);
}

.products .product-slider .box h1{
    font-size: 2.5rem;
    color: var(--black);
}

.products .product-slider .box .price{
 font-size: 2rem;
 color: var(--light-color); 
 padding: .5rem 0; 
}

.products .product-slider .box .stars i{
   font-size: 1.7rem;
   color:orange;
   padding: .5rem 0;
}
